html, body{
    font-family: 'Roboto', sans-serif;
}

.hero-image{
    height: 75vh;
    background: url("background2.jpg");
    background-position: center;
    background-size: cover;
    color:white;
    padding:2em;
    padding-bottom: 5%;
    display: flex;
    align-items:flex-end;

}

.hero-image h1{
    font-size: 72px;
    margin-left:15px;
    text-shadow: 0px 0px 4px #000;

}

.hero-image p{
    font-size: 24px;
    text-shadow: 0px 0px 2px #000;
    margin-right: 20px;
}